* {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}
img{
    max-width: 100%;
}
header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
#banner {
    display: inline-block;
}
#recomendados {
    display: flex;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: flex;
}

#recomendados div {
    margin: 0px;
}


 